{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
   <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
         <ul class="navbar-nav">
            <li class="nav-item">
               <button class="nav-link" id="pencil"><i class="bi bi-pencil"></i></i></button>
            </li>
            <li class="nav-item">
               <button class="nav-link" id="eraser"><i class="bi bi-eraser"></i></button>
            </li>
            <li class="nav-item">
               <input class="nav-link" input type = "file" name = "file" id="file" onchange ="submit_form() ; return false;"/><label for="file"><i class="bi bi-file-earmark-image" style="font-size: 25px;color: white;"></i></label>
            </li>
            <li class="nav-item">
               <input class="nav-link" type="number" id="size" placeholder="Size"/>
            </li>
            <li class="nav-item">
               <input class="nav-link" type="Color" href="#" id="color">
            </li>
            <li class="nav-item">
               <button class="nav-link" id="undo"><i class="bi bi-arrow-counterclockwise"></i></button>
            </li>
            <li class="nav-item">
               <button class="nav-link" id="redo"><i class="bi bi-arrow-clockwise"></i></button>
            </li>
            <li class="nav-item">
               <button class="nav-link" id="clear">Clear</button>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px;color: white;">
               Paper Lines
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" id="bg">Model 1</a></li>
                  <li><a class="dropdown-item" href="#" id="bg2">Model 2</a></li>
                  <li><a class="dropdown-item" href="#" id="bg3">Model 3</a></li>
                  <li><a class="dropdown-item" href="#" id="bg4">Model 4</a></li>
                  <li><a class="dropdown-item" href="#" id="bg5">Blank</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>
<script>
   function submit_form()
   {
     document.form.submit();
   }
</script>
<canvas id="canvas" style="background-size: 100% 100%;"></canvas>
<script src="{{ url_for('static', filename='js/canv.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}